[submodule "uveal_melanoma_dual_guide_CRISPR"]
	path = uveal_melanoma_dual_guide_CRISPR
	url = git@github.com:team113sanger/uveal_melanoma_dual_guide_CRISPR
[submodule "uveal_melanoma_single_guide_processing"]
	path = uveal_melanoma_single_guide_processing
	url = git@github.com:team113sanger/uveal_melanoma_single_guide_processing.git
[submodule "uveal_melanoma_CRISPR_downstream"]
	path = uveal_melanoma_CRISPR_downstream
	url = git@github.com:team113sanger/uveal_melanoma_CRISPR_downstream.git
[submodule "Gen_Effects_CDS2_loss_Uveal_melanoma_WES"]
	path = Gen_Effects_CDS2_loss_Uveal_melanoma_WES
	url = git@github.com:team113sanger/Gen_Effects_CDS2_loss_Uveal_melanoma_WES.git
	branch = main
[submodule "Gen_Effects_CDS2_loss_Uveal_melanoma_RNAseq"]
	path = Gen_Effects_CDS2_loss_Uveal_melanoma_RNAseq
	url = git@github.com:team113sanger/Gen_Effects_CDS2_loss_Uveal_melanoma_RNAseq.git
[submodule "uveal_melanoma_specific_vulnerabilities"]
	path = uveal_melanoma_specific_vulnerabilities
	url = git@github.com:team113sanger/uveal_melanoma_specific_vulnerabilities.git
[submodule "targeting_CDS1_CDS2_axis_pub_figures"]
	path = targeting_CDS1_CDS2_axis_pub_figures
	url = https://github.com/team113sanger/targeting_CDS1_CDS2_axis_pub_figures.git
